---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header></header>

		
		<main>
			<section>
				<div>
					<img class="z-50" src="/img/coscu.png" alt="Coscu">
					<img class="z-40" src="/img/mayichi.png" alt="Mayichi">
					<img class="z-30" src="/img/viruzz.png" alt="Viruzz">
					<img class="z-20" src="/img/fernanfloo.png" alt="Fernanfloo">
					<img class="z-10" src="/img/laRivers.png" alt="La Rivers">
					<img class="z-0" src="/img/papigavi.png" alt="Papigavi">
				</div>
				<div>
					<img class="z-50" src="/img/german.png" alt="German">
					<img class="z-40" src="/img/amouranth.png" alt="Amouranth">
					<img class="z-30" src="/img/shelao.png" alt="Shelao">
					<img class="z-20" src="/img/luzu.png" alt="Luzu">
					<img class="z-10" src="/img/rivers.png" alt="Rivers">
					<img class="z-0" src="/img/ampeter.png" alt="Ampeter">
				</div>
			</section>
		</main>


		<footer></footer>
	</body>
</html>
